<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mssqlconnection.Properties.Settings.TestDbConnectionString"
            connectionString="Data Source=DESKTOP-9BL9P4H\MSSQLSERVER2022;Initial Catalog=TestDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>